<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap.html :: head">
</head>
<body>
<div class="container mt-5 pt-5 text-center">
    <div th:if="${projectList} != null" class="mx-auto w-50">
        <h2 class="mb-4 fs-1">Select Project</h2>
        <div class="table-responsive">
            <table class="table table-hover table-borderless" style="border: 2px solid #000;">
                <tr th:each="project : ${projectList}">
                    <td th:text="${project.projectName}" class="fs-5 text-start p-3"></td>
                </tr>
            </table>
        </div>
        <div class="mt-2">
            <a th:href="@{/project/create}" class="d-block w-100 text-decoration-none text-center fs-5 text-dark"
               style="border: 2px solid #000;" onmouseover="this.style.backgroundColor='#f0f0f0'"
               onmouseout="this.style.backgroundColor=''">New Project</a>
        </div>
    </div>
</div>
</body>
</html>